body, html{
    height:100%;
    font-style: italic;
    font-family: 'Verdana';
    color: aliceblue;
}
.bg{
    background-image: url("https://images.unsplash.com/flagged/photo-1551301622-6fa51afe75a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}